.skip{
    position: absolute;
    top: -100%;
}

a:focus {
    top: 5%;
    left: 10%;
    padding: 4%;
    background-color: #00274c;
    color: #ffcb05;
    outline: 3px dashed white;
}

.active{
    font-weight: 800;
}

body {
    font-family: 'Montserrat';
    font-size: 1.125rem;
    display: grid;
    grid-template-columns: 8% 1fr 1fr 1fr 1fr 8%;
    grid-column: 2/6;
}

*{
    font-family: 'Montserrat';
    color: #00274c;
}

header{
    background-color: #ffcb05;
    grid-column: 1/-1;
    width: 100%;
    min-height: 14%;
    margin-bottom: 5%;
}

img.logo{
    width: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #00274c;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    padding-left: 40%;
    padding-right: 40%;
}

header h1{
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 5%;
    word-wrap: break-word;
    grid-column: 2/8;
    padding-left: 8%;
    padding-right: 8%;
}

button{
    margin-left: 8%;
    margin-bottom: 5%;
    background-color: #00274c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

nav{
    grid-column: 2/6;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    list-style: none;
}

nav li{
    margin-bottom: 5%;
    font-size: 1.215rem;
    font-weight:600;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

h2{
    font-weight: 600;
    font-size: 1.6rem;
    padding-bottom: 2.5%;
}

section h2{
    padding-top: 15%;
}

main{
    width:100%;
    grid-column: 2/6;
}

h3{
    font-size: 1.4rem;
    font-weight: 600;
    padding-top: 4%;
    padding-bottom: 2.5%;
}

h4{
    font-size: 1.15rem;
    font-weight: 600;
    padding-top: 5%;
    padding-bottom: 5%;
    text-transform: uppercase;
}

p{
    font-size: 1.125rem;
    padding-bottom: 5%;
}

strong{
    font-weight: 600;
}

ul, ol{
    list-style: disc;
}

article li, section li{
    margin-left: 8%;
}

ul li:last-child{
    margin-bottom: 8%;
}

footer{
    grid-column: 1/-1;
    margin-top: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #00274c;
    text-align: center;
}

footer p{
    padding-right: 8%;
    padding-left: 8%;
    color: white;
}

footer a, #year{
    color: white;
}

img{
    width:100%;
}

figcaption{
    text-align: center;
    font-style: italic;
    margin-top: 2.5%;
    margin-bottom: 5%;
    font-size: 1rem;
    width:100%;
    line-height: 1rem;
}

p,li,h4, figcaption{
    line-height: 1.65rem;
}

.FAQ h3{
    font-size: 1.25rem;
    font-weight: 600;
    padding-top: 5%;
    padding-bottom: 5%;
    text-transform: uppercase;
}

strong{
    line-height: 1.3rem;
}

table {
    display: grid;
    grid-template-columns: 1fr; /* Adjust column structure */
    /* width: 100%; */
}

td:first-child {
    grid-column: 2/3;
}

td:last-child {
    grid-column: 4/5;
}

.dark-mode {
    background-color: black;
    h2,h3,h4,p,li, li strong,figcaption, p strong{color: white;}
    main a{color: #ffcb05;}
  }

@media screen and (min-width: 768px){
header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

img.logo{
        padding: 1%;
        margin: 2%;
        width: 7%;
}

figure{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

nav{
    margin-right: 1.5%;
}

nav ul{
    justify-content: flex-end;
    top: 5%;
}

header h1{
    display: block;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 80%;
    font-size: 2.2rem;
}

section h2 {
    padding-top: 2%;
    font-size: 1.7rem;
}

h3{
    font-size: 1.5rem;
    padding-top: 2%;
}

h4{
    font-size: 1.2rem;
    padding-top: 2%;
}

footer{
    padding-bottom: 0%;
}

.academic-pics {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
}



@media screen and (min-width: 1050px){
    header{
        align-items: center;
    }

    h1{
        font-size: 2.4rem;
    }

    h2{
        font-size: 1.8rem;
    }

    h3{
        font-size: 1.55rem;
        padding-top: 2%;
    }

    h4{
        font-size: 1.3rem;
        padding-top: 2%;
    }

    h4{
        padding-bottom: 2%;
    }

    figure{
        width:50%;
    }

    ul li:last-child {
        margin-bottom: 2%;
    }

    p {
        padding-bottom: 2%;
    }
}